// Light Mode Colors
$primary-color: #0fa3b1;
$secondary-color: #bbedf3;
$tertiary-color: #f7a072;
$text-color: #333333;
$background-color: #f9f7f3;

// Dark Mode Colors
$text-color-dark: #f8f9fa;
$background-color-dark: #212529;

// Default Variables
$primary: $primary-color;
$secondary: $secondary-color;
$text: $text-color;
$background: $background-color;

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  &:hover {
    cursor: pointer;
    width: 1.1rem;
    filter: brightness(1.05);
  }
  &:active {
    transform: scale(1.01);
  }
}

.hidden {
  display: none !important;
}

.complete {
    text-decoration: line-through !important;
    color: fade-out($color: #000000, $amount: 0.5);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  height: auto;
}

#header {
  display: flex;
  flex-wrap: nowrap;
  top: 0px;
  border: none;
  width: 100vw;
  z-index: 9000;
  grid-area: header;
  height: calc(15vh + 1vw);
  position: fixed;
  background-color: $primary;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  h1 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "Calligraffitti", cursive;
    color: #f9f7f3;
    font-size: calc(1.6rem + 3vw);
    text-align: center;
    padding: 1rem 0rem 1rem 1.5rem;
  }
  img {
    transform: scale(0.8);
    filter: invert(0.93);
  }
}

#add-item-form, #edit-item-form {
    border: solid $primary 3px;
    position: fixed;
    top: 20%;
    right: 5%;
    z-index: 99999;
    background-color: $secondary;
    width: 90vw;
    height: fit-content;
    #close-form {
        position: absolute;
        right: 0px;
        align-self: flex-end;
        text-align: center;
        background-color: transparent;
        color: $background-color;
        border: none;
        height: fit-content;
        font-size: 3rem;
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul {
        padding: 1rem;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    .form-row:first-child {
        background-color: $secondary;
        border-bottom: $primary solid 2px;
        justify-self: stretch;
        align-self: stretch;
        p {
          text-align: center;
          font-weight: bold;
          font-size: calc(20px + 1vw);
          margin: 1rem 0rem 1rem 0rem;
        }
    }
    .form-row:last-child {
        align-self: center;
        width: fit-content;
        margin: 1rem;
    }
    .form-row {
        width: 100%;
        height: 25%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        margin-bottom: 1rem;
        label {
            margin-bottom: 5px;
            display: block;
            font-size: 1rem;
            padding: 0 20px 0 10px;
        }
        input {
            background-color: #FFFFFF;
            border: 1px solid #D6D9DC;
            border-radius: 3px;
            width: 100%;
            padding: 7px;
            font-size: 1rem;
        }
        button {
            display: flex;
            font-size: 1.1rem;
            font-weight: bold;
            
            color: #FFFFFF;
            background-color: $primary;
            
            border: none;
            border-radius: 3px;
            
            padding: 1rem;
            margin-top: 2rem 0rem 2rem 0rem;
            cursor: pointer;
        }
    }
    }
}



#content-area {
  position: absolute;
  top: calc(18vh + 1vw);
  height: fit-content;
  margin: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "content controls";
  #list-controls {
    grid-area: controls;
    display: flex;
    #sort-button {
      align-self: flex-start;
      text-align: center;
      background-color: $secondary;
      color: $text;
      border: none;
      border-radius: 10px;
      font-size: calc(0.6rem + 1vw);
      height: fit-content;
      padding: 0.8rem;
      width: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #sort-button::after {
      content: "Date Ascending\a↑";
      display: block;
      color: gray;
      font-size: calc(0.4rem + 1vw);
      padding-top: 0.5rem;
    }
    #sort-button.descending::after {
      content: "Date Descending\a↓";
      text-align: center;
      display: block;
      color: gray;
      font-size: calc(0.4rem + 1vw);
      padding-top: 0.5rem;
    }
  }
  #footer {
    z-index: 100;
    height: 30vh;
    width: 100vw;
    position: fixed;
    bottom: 0%;
    //opacity: 10%;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50vh; // Change this to adjust the height of the fade-out effect.
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        white 100%
      );
      z-index: -1;
    }
  }
}

#modal-popup-button {
  color: #eddea4;
  z-index: 1000;
  background-color: $primary;
  border: none;
  border-radius: 100px;
  font-size: calc(10vh + 20px);
  position: fixed;
  bottom: 5%;
  transform: translateX(-50%);
  left: 75%;

  width: calc(30vw - 40px);
  height: calc(30vw - 40px);

  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-buttons {
  z-index: 9000;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  #delete-options-button {
    border: none;
    background-color: $tertiary-color;
    border-radius: 100px;
    //padding: 1.6rem;
    position: fixed;
    width: calc(30vw - 40px);
    height: calc(30vw - 40px);
    bottom: 5%;
    transform: translateX(-50%);
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    #delete-options-icon {
      height: calc(18vw - 20px);
    }
  }
  #delete-options-container {
    position: fixed;
    width: fit-content;
    bottom: 5%;
    transform: translateX(-50%);
    left: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button {
      text-align: center;
      background-color: $tertiary-color;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      height: fit-content;
      padding: 1rem;
      width: 40vw;
      display: flex;
      justify-content: center;
      align-items: center;
      ::after {
        content: url("trash.svg");
      }
    }
  }
}

#item-list {
  height: fit-content;
  z-index: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  grid-area: content;
  display: flex;
  flex-flow: column nowrap;
  div {
    border-radius: 20px;
    background-color: $secondary;
    margin: 1rem;
    display: grid;
    grid-template: 2fr 1fr / 1fr 1fr;
    grid-template-areas:
      "main buttons"
      ". date";
    &:hover {
        background-color: adjust-hue($color: $secondary, $degrees: 5);
    }
    p:first-child {
      display: flex;
      font-family: "Calligraffitti", cursive;
      padding-left: 0.5rem;
      font-size: calc(1vw + 10px);
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &:hover {
        cursor: pointer;
      }
    }
    p:nth-child(2) {
      grid-area: date;
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: italic;
    }
    #button-box {
      grid-area: buttons;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      background-color: transparent;
      button {
        text-align: center;
        background-color: $text;
        color: $text-color-dark;
        border: none;
        border-radius: 10px;
        font-size: 0.7rem;
        height: fit-content;
        padding: 0.8rem;
        width: fit-content;
      }
    }
  }
  div:nth-child(odd) {
    background-color: #a8d4d9;
  }
}

*.deleted {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@media screen and (min-width: 500px) {
  #delete-buttons {
    #delete-options-button {
      position: fixed;
      left: 90%;
      height: fit-content;
      padding: 1rem;
      height: 13.8vh;
      width: 13.8vh;
      #delete-options-icon {
        height: 8vh;
      }
    }
    #delete-options-container {
      button {
        ::after {
        }
      }
    }
  }
  #modal-popup-button {
    position: fixed;
    bottom: 22%;
    transform: translateX(-50%);
    left: 90%;
    display: flex;
    font-size: 15vh;

    height: 13.8vh;
    width: 13.8vh;

    p {
      justify-self: center;
      align-self: center;
    }
  }

  #footer {
    display: none;
  }
  
  #button-box button {
    opacity: 50%;
  }

  #item-list div:hover #button-box button {
    opacity: 70%;
    &:hover {
        opacity: 100%;
    }
  }
}

/* Laptops and larger */
@media screen and (min-width: 1024px) {
  /* Your CSS rules here */
}
